body{
    font-family: "Avenir Next";
}

/* backgroud color and size of header */
.header
{
    background-color: rgb(230, 250, 118);
    height: 90px;
}

/* backgroud color and size of main */
.main
{
    background-color: rgb(149, 250, 250);
    height: 600px;
}

/* background color and size of footer */
.footer
{
    background-color: rgb(208, 148, 216);
    height: 270px;
}