<!-- contact form-->
<div class="contact-form">
    <h3 class="section-title">Q&A</h3>

    <p><span>*</span>Email Address</p>
    <input type="text">

    <p><span>*</span>Quesion</p>
    <textarea name="" id="" cols="30" rows="10"></textarea>

    <p></p>
    <input type="submit" class="contact-submit" value="Send">

</div>