<div class="header">
    <div class="header-logo">
        Happy Study Node.js
    </div>

    <div class="header-list">
        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
        </ul>
    </div>
</div>>
