<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>

    <!-- link css -->
    <link type = "text/css" rel="stylesheet" href="/css/style.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">

</head>
<body>

    <!-- header -->
    <%- include('../partials/header'); %> 

    <!-- main -->
    <div class="main">
        <div class="copy-container">
            <h1>Hello World<span>.</span></h1>
            <h2>Welcome to the program world</h2>
        </div>

        <div class="contents">

        </div>

        <div class="contact-form">

        </div>

    </div>

    <!-- footer -->
    <%- include("../partials/footer"); %> 

</body>
</html>